
header {
    background-image: url("/portfolio_2024/images/hackathon/bigCheck.jpg");
}

header h1, header h2{
    color: var(--primary_darkest);
    text-shadow: 15px 8px 12px var(--secondary_darkest);
    background-color: rgba(255, 255, 255, 0.428);
}

main#hackathon img {
    width: 75%;
}


.commandFlow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 75%;
    margin: 5px auto;
    background-color: var(--white);
    border-radius: 8px;
}

.commandFlow img{
    width: 30%;
}

.commandFlow p{
    margin: 0;
    color: var(--black);
    font-weight: 600;
    padding: 5px 15px;
}

.commandFlow span {
    color: var(--accent);
}

